<tr>
  <td>
    <h1>Olá!</h1>
    <p>Alguém da administração de {{ company_name }} te convidou para se juntar a seus colegas de trabalho na plataforma 1MiO.</h1></p>
  </td>
</tr>
<tr>
  <td>
    <p>Clique no link para finalizar a criação de sua conta:</p>
    <a href="{{ link }}">{{ link }}</a>
  </td>
</tr>
<tr>
  <td>
  <p>Você poderá se autenticar em {{ link_login }} no futuro usando </p>
  <p>Usuário: {{ email }}</p>
  <p>Senha: Sua senha</p>
  </td>
</tr>
<tr>
  <td>
    <p><strong>-- Equipe 1MiO</strong></p>
  </td>
</tr>
