
  {% if index == 1 %}
    <div class='content'>
      <div class='orange-pill-large'></div>
      <div class='line-container bg-color-1'></div>
      <div class='text-container txt-color-1'>
         <img class='icon' src={{'/' ~ directory ~ '/images/new_layout/pill_icon_orange.svg'}}>
        {{ card_description }}
      </div>
    </div>
  {% endif %}

  {% if index == 2 %}
    <div class='content'>
      <div class='pink-pill-large'></div>
      <div class='line-container bg-color-2'></div>
      <div class='text-container txt-color-2'>
         <img class='icon' src={{'/' ~ directory ~ '/images/new_layout/pill_icon_pink.svg'}}>
        {{ card_description }}
      </div>

    </div>
  {% endif %}

  {% if index == 3 %}
    <div class='content'>
      <div class='purple-pill-large'></div>
      <div class='line-container bg-color-3'></div>
      <div class='text-container txt-color-3'>
         <img class='icon' src={{'/' ~ directory ~ '/images/new_layout/pill_icon_purple.svg'}}>
        {{ card_description }}
      </div>
    </div>
  {% endif %}

  {% if index == 4 %}
    <div class='content'>
      <div class='blue-pill-large'></div>
      <div class='line-container bg-color-4'></div>
      <div class='text-container txt-color-4'>
         <img class='icon' src={{'/' ~ directory ~ '/images/new_layout/pill_icon_blue.svg'}}>
        {{ card_description }}
      </div>
    </div>
  {% endif %}

  {% if index == 5 %}
    <div class='content'>
      <div class='line-container bg-color-5'></div>
        <div class='green-pill-large'></div>
        <div class='text-container txt-color-5'>
         <img class='icon' src={{'/' ~ directory ~ '/images/new_layout/pill_icon_green.svg'}}>
        {{ card_description }}
      </div>
    </div>
  {% endif %}
